body {
  background-image: url(fons.svg);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  animation: animacio 2s infinite;
}

@keyframes animacio {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
