:root {
  --main-color: #964a24;
}

body {
  background-image: url(fons.svg);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  min-height: calc(100vh - 60px);
  margin: 0;
  padding: 30px 0;
}

#notificacio {
  visibility: hidden;
  min-width: 100px;
  margin-left: -50px;
  background-color: white;
  color: var(--main-color);
  text-align: center;
  border-radius: 10px;
  padding: 8px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-family: mainFont, sans-serif;
  font-size: 24px;
}

#notificacio.visible {
  visibility: visible;
  animation: apareix 0.5s, desapareix 0.5s 2.5s;
}

@keyframes apareix {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes desapareix {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

#logotip {
  width: 50%;
  min-width: 300px;
  max-width: 500px;
  max-height: 100vh;
  object-fit: contain;

  margin-top: auto;
  margin-bottom: 100px;
  animation: batec 1s infinite;
}

#subtitol, #compte-corrent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  max-width: 90vw;
  animation: aterratge 2s cubic-bezier(0,0,0,1) forwards;
}

#compte-corrent {
  opacity: 0;
  animation-delay: 1s;
  margin-bottom: auto;
}

.text {
  font-family: mainFont, sans-serif;
  font-size: 36px;
  color: var(--main-color);
  margin: 0;
  text-align: center;
}

#icona-copiar {
  /* truc per convertir el color negre de l'icona al color del tema */
  filter: invert(29%) sepia(77%) saturate(510%) hue-rotate(336deg) brightness(98%) contrast(92%);
  width: 32px;
  height: 32px;
  cursor: pointer;
}

@media (hover: hover) {
  #icona-copiar:hover {
    animation: rotacio 1s infinite;
  }
}

@keyframes batec {
  0%, 100% {
    transform: scale(0.98);
  }
  30% {
    transform: scale(1);
  }
}

@keyframes aterratge {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotacio {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@font-face {
  font-family: mainFont;
  src: url(./ink-free.ttf);
}